html {
  background: url('../images/record_store.png') no-repeat;
  width: 100pc;
  height: 100pc;
}

.wrapper{
  margin-left: 10pc;
  margin-right: 10pc;
  border-style: solid;
  width: 60pc;
  background-color: #fff;
}

header{
  padding-left: 2pc;
}

header h1 {
  background: url('../images/logo_400x400.png') 0px 0px/5pc 5pc
              no-repeat;
  height: 5pc;
  padding-top: 1.8pc;
  padding-left: 5pc;
  color: #800000;
}

nav {
  clear: both;
}

nav ul {
  display:inline;
  list-style-type: none;
}

nav li {
  display:inline;
  list-style-type: none;
  padding-right: 2pc;

}

nav form {
  display:inline;
}

nav form input {
  display: inline;
}

/* Sidebars */
div#sidebar-left {
  border: 1px solid #000000;
  border-radius: 0.5em;
  float: left;
  margin: 1em;
  padding: 1em;
  width: 10em;
}

div#sidebar-left ul {
  list-style-type: none;
  padding-left: 0;
}

div#sidebar-left li {
  margin-left: 0;
}

div#sidebar-right {
  border: 1px solid #000000;
  border-radius: 0.5em;
  float: right;
  margin: 1em;
  padding: 1em;
  width: 5em;
}

/* Main Content */
div#content-main {
  display: block;
}

/* All Content */
div#content {
  background-color: #ACAC98;
  padding-top: 1pc;
  padding-bottom: 1pc;
}

div#content h2 {

}

div#content p {
  font-size: 13pt;
}

footer {
  font-size: 13pt;
  /* gradient */
  background: #ACAC98; /* Old browsers */
  background: -moz-linear-gradient(top,  #ACAC98 80%, #000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,#ACAC98), color-stop(100%,#000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ACAC98 80%,#000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ACAC98 80%,#000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ACAC98 80%,#000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ACAC98 80%,#000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ACAC98', endColorstr='#000',GradientType=0 ); /* IE6-9 */

}