html {
  background: url('../images/record_store.png') no-repeat;
  width: 100pc;
  height: 100pc;
}

.wrapper{
  margin-left: 10pc;
  margin-right: 10pc;
  border-style: solid;
  background-color: #fff;
}

header{

}

header h1 {
  background: url('../images/logo_400x400.png') 0px 0px/5pc 5pc
              no-repeat;
  height: 5pc;
  padding-top: 1.8pc;
  padding-left: 5pc;
  color: #800000;
}

nav {

}

body {
  
}

h2 {

}

p {
  font-size: 13pt;
}

footer {
  font-size: 13pt;
}