html {
  /* background: url('../images/record_store.png') no-repeat; */
  width: 100em;
  height: 100em;
}

.wrapper {
  margin-left: 10em;
  margin-right: 10em;
  border-style: solid;
  width: 60em;
  background-color: #fff;
}

header .banner {
  padding-left: 2pc;

}

header h1 {
  background: url('../images/logo_400x400.png');
  background-size: 72px 72px;
  background-repeat: no-repeat;
  color: #800000;
  display: inline-block;
  float: left;
  height: 54px;
  margin: 0;
  padding-top: 21px;
  padding-left: 52px;
}

form#login-user {
  float: right;
}

form#search {
  float: right;
  clear: both;
  width: 100%;
}

form#search input[type="text"] {
  font-size: 1.2em;
  margin-right: 0;
  width: 50%;
}

form#search input[type="submit"] {
  background: none;
  border: 1px solid #ACAC98;
  border-radius: 0 0.5em 0.5em 0;
  font-size: 1.2em;
  margin-left: 0;
}

nav {
  clear: both;
  border-style: solid;
}

nav ul {
  display:inline;
  font-size: 1.2em;
  list-style-type: none;
  margin: 0 auto;
}

nav li {
  display:inline;
  list-style-type: none;
  padding-right: 1pc;

}

nav form {
  display:inline;
}

nav form input {
  display: inline;

}

nav a {
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
}

/* Sidebars */
div#sidebar-left, div#sidebar-right {
  border: 1px solid #000000;
  border-radius: 0.5em;
  display: inline;
  float: left;
  margin-top: 4em;
  padding: 1em;
  width: 15%;
}

div#sidebar-left {
  float: left;
}

div#sidebar-right {
  float: right;
}

div#sidebar-left ul {
  list-style-type: none;
  padding-left: 0;
}

div#sidebar-left li {
  margin-left: 0;
}

/* Main Content */
div#content-main {
  display: inline-block;
  float: left;
  padding: 1em;
  width: 59%;
}

/* Breadcrumbs */
ol.breadcrumbs {
  list-style-type: none;
  margin: 0 auto;
}
ol.breadcrumbs li {
  display: inline;
}
ol.breadcrumbs li:before {
  content: "\00BB\0020";
}

/* All Content */
div#content {
  background-color: #ACAC98;
  overflow: auto;
  padding: 1em;
}

div#content h2 {

}

div#content p {
  font-size: 13pt;
}

footer {
  font-size: 13pt;
  /* gradient */
  background: #ACAC98; /* Old browsers */
  background: -moz-linear-gradient(top,  #ACAC98 80%, #000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%,#ACAC98), color-stop(100%,#000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ACAC98 80%,#000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ACAC98 80%,#000 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ACAC98 80%,#000 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ACAC98 80%,#000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ACAC98', endColorstr='#000',GradientType=0 ); /* IE6-9 */

}